<!-- 投稿の削除用モーダル -->

<div class="delete-modal js-modal" id="delete-modal" th:fragment="deleteModal">

	<div class="delete-modal__bg delete-modal-close"></div>

	<div class="delete-modal__content">
		<!-- <div class="delete_post_content"></div> -->
		<div class="delete-modal__info">この投稿を削除します。よろしいでしょうか？</div>
		<div class="delete-modal-form">
			<form id="deleteModalForm" method="post" th:object="${post}">
				<button class="button-blue" type="submit">OK</button>
			</form>
			<button class="delete-modal-close button-gray" type="button">キャンセル</button>
		</div>
	</div>

</div>