<!-- 投稿の編集用モーダル -->

<div class="edit-modal js-modal" id="edit-modal" th:fragment="editModal">

	<div class="edit-modal__bg edit-modal-close"></div>

	<div class="edit-modal__content">
		<form id="editModalForm" class="edit-modal-form" method="post" th:object="${post}">
			<div th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></div>
			<textarea name="post_content" class="modal-post-content" th:field="*{content}" placeholder="投稿内容を入力してください。"
				required maxlength="150"></textarea>
			<button class="edit-icon" type="submit"></button>
		</form>
	</div>

</div>