<!-- サイドバーコンポーネント -->

<div class="sidebar" th:fragment="sidebar">

	<div class="side-header">
		<div class="side-header__info">[[${@account.name}]]さんの</div>
		<div class="side-header__info">
			<span>フォロー数：　[[${followings}]]人</span>
		</div>
		<div class="side-header__btn">
			<a th:href="@{/users/{accountId}/followings(accountId=${@account.id})}">
				<button class="button-blue follow-btn" type="button">フォローリスト</button>
			</a>
		</div>
		<div class="side-header__info">
			<span>フォロワー数：　[[${followers}]]人</span>
		</div>
		<div class="side-header__btn">
			<a th:href="@{/users/{accountId}/followers(accountId=${@account.id})}">
				<button class="button-blue follow-btn" type="button">フォロワーリスト</button>
			</a>
		</div>
	</div>

	<div class="side-bottom">
		<a href="/users/search">
			<button class="button-blue users-btn" type="button">ユーザー検索</button>
		</a>
	</div>
</div>