<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>フォロー情報一覧</title>
	<link rel="stylesheet" th:href="@{/css/reset.css}">
	<link rel="stylesheet" th:href="@{/css/common.css}">
</head>

<body>

	<header th:replace="~{fragments/header}"></header>

	<h2 th:text="${listType == 'followings'} ? 'フォローリスト' : 'フォロワーリスト'"></h2>

	<div>
		<div th:each="user : ${userList}">
			<a th:if="${user.id != loginUser.id}" th:href="@{/users/{userId}/profile(userId=${user.id})}">
				<img th:src="@{${user.iconImage}}" alt="プロフィール画像">
				<span th:text="${user.name}"></span>
			</a>
		</div>
	</div>


</body>

</html>