<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>

	<form action="/users/update" method="post" th:object="${user}" enctype="multipart/form-data">
		<div>
			<label for="">ユーザー名</label>
			<input type="text" th:field="${user.name}" class="" placeholder="名前" required pattern=".{3,15}"
				title="※名前は3～15文字以内" />
			<div th:if="${#fields.hasErrors('name')}" th:errors="${user.name}"></div>
		</div>
		<div>
			<label for="">メールアドレス</label>
			<input type="email" th:field="${user.email}" class="" placeholder="メールアドレス" required />
			<div th:if="${#fields.hasErrors('email')}" th:errors="${user.email}"></div>
		</div>
		<div>
			<label for="">パスワード</label>
			<input type="password" th:field="${user.password}" class="" placeholder="パスワード" required
				pattern="^(?=.*[a-zA-Z])(?=.*\d)[a-zA-Z\d]{5,}$" title="※英数字を含む5文字以上" />
			<div th:if="${#fields.hasErrors('password')}" th:errors="${user.password}"></div>
		</div>
		<div>
			<label for="">パスワード確認</label>
			<input type="password" name="password_confirm" class="" placeholder="パスワード（確認）" required />
		</div>
		<div>
			<label for="">自己紹介</label>
			<textarea th:field="${user.bio}" id="" cols="30" rows="10"></textarea>
			<div th:if="${#fields.hasErrors('bio')}" th:errors="${user.bio}"></div>
		</div>
		<div>
			<input name="file" type="file">
		</div>
		<div th:if="${error != null}" th:text="${error}"></div>
		<button>更新</button>
	</form>

</body>

</html>