<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ユーザー検索</title>
	<link rel="stylesheet" th:href="@{/css/reset.css}">
	<link rel="stylesheet" th:href="@{/css/common.css}">
</head>

<body>

	<header th:replace="~{fragments/header}"></header>

	<div th:if="${info}">
		<span th:text="${info}"></span>
	</div>

	<div>
		<form action="/users/search" method="get">
			<input type="text" name="keyword" th:value="${keyword}" placeholder="ユーザー名" />
			<button type="submit">検索</button>
		</form>
		<span th:if="${keyword}">検索ワード：[[${keyword}]]</span>
	</div>

	<div th:each="user:${userList}">
		<a th:href="@{/users/{userId}/profile(userId=${user.id})}">
			<img th:src="@{${user.iconImage}}" alt="プロフィール画像">
			<span th:text="${user.name}"></span>
		</a>
		<div th:text="${user.updatedAt}"></div>

		<!--/* contains(List, item) は「そのリストにその要素が含まれているか」をbooleanで返す */-->
		<!--/* #listsはThymeleafのユーティリティオブジェクト */-->

		<!--/* 現在のuserが、followingUsersに含まれている場合 */-->
		<div th:if="${#lists.contains(followingUsers, user)}">
			<form th:action="@{/users/unfollow}" method="post">
				<input type="hidden" name="followUserId" th:value="${user.id}" />
				<button type="submit">フォロー解除</button>
			</form>
		</div>

		<!--/* 現在のuserが、followingUsersに含まれていない場合 */-->
		<div th:if="${!#lists.contains(followingUsers, user)}">
			<form th:action="@{/users/follow}" method="post">
				<input type="hidden" name="followUserId" th:value="${user.id}" />
				<button type="submit">フォロー</button>
			</form>
		</div>

	</div>

</body>

</html>