@charset "UTF-8";

/**
 * common: 全体共通のスタイル
 */

a {
	text-decoration: none;
}

button {
	display: inline-block;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

/**
 * 共通アイコン
 */

.send-icon {
	width: 64px;
	height: 64px;
	background-image: url("/images/post.png");
	background-size: cover;
}

.edit-icon {
	width: 64px;
	height: 64px;
	background-image: url("/images/edit.png");
	background-size: cover;
}

.edit-icon:hover {
	background-image: url("/images/edit_h.png");
}

.delete-icon {
	width: 64px;
	height: 64px;
	background-image: url("/images/trash.png");
	background-size: cover;
}

.delete-icon:hover {
	background-image: url("/images/trash_h.png");
}

/**
 * アコーディオンメニュー
 */

.accordion-button {
	width: 100%;
	padding: 10px;
	font-weight: bold;
	text-align: left;
	display: flex;
	align-items: center;
}

.accordion-button .arrow {
	width: 10px;
	height: 10px;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	transform: rotate(45deg);
	margin-right: 10px;
	transition: transform 0.2s;
}

.accordion-item.active .accordion-button .arrow {
	transform: rotate(-135deg);
}

.accordion-content {
	display: none;
	padding: 10px 15px;
}

.accordion-item.active .accordion-content {
	display: block;
}